@import '../../../assets/styles/responsive.scss';
@import '../../../assets/styles/coloring.scss';

.rtga {
 &__header {
  top: 0;
  position: sticky;
  width: 415px;
  background: $white-color;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 70px;
  z-index: 999;
  height: 60px;

  &__image {
   padding: 5px
  }
 }
}

@include media(phone-only) {
 .rtga {
  &__header {
   width: 100%;
  }
 }
}