@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./responsive.scss";
@import "./coloring.scss";

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 margin: 0;
 font-family: 'Poppins', sans-serif !important;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 height: 100%;
 overscroll-behavior-y: contain;
 background-color: #d4d4d4 !important;
}

.adm-result-page-icon {
 display: none !important;
}

.adm-popup-body-position-bottom {
 width: 415px;
 bottom: 60px;
 right: 25%;
 left: 50%;
 margin-left: -207px;
}

.adm-result-page-footer {
 display: none;
}

.adm-result-page-header {
 background-color: $white-color !important;
}

.adm-result-page-content {
 padding: unset !important;
}

.adm-result-page{
 background-color: $white-color !important;
}

@include media(desktop-up) {
 .adm-result-page-bg {
  --width: 415px !important;
  left: -20px !important;
  width: 415px;
  margin-top: -50px;
 }
}

@include media(big-desktop-up) {
 .adm-result-page-bg {
  --width: 415px !important;
  left: -20px !important;
  width: 415px;
  margin-top: -50px;
 }
}

@include media(tablet-portrait-up) {
 .adm-result-page-bg {
  --width: 415px !important;
  left: -20px !important;
  width: 415px;
  margin-top: -50px;
 }
}

@include media(tablet-landscape-up) {
 .adm-result-page-bg {
  --width: 415px !important;
  left: -20px !important;
  width: 415px;
  margin-top: -50px;
 }
}

@include media(phone-only) {
 .adm-popup-body-position-bottom {
  width: 100%;
  left: 0;
  bottom: 60px;
  margin-left: unset;
  right: unset;
 }

 .adm-result-page-bg {
  --width: 470px !important;
  left: -22px !important;
  width: 101vw;
 }
}