@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./responsive.scss";
@import "./coloring.scss";

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 margin: 0;
 font-family: 'Poppins', sans-serif !important;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 height: 100%;
 overscroll-behavior-y: contain;
 background-color: $grey-color !important;
}

.grecaptcha-badge {
 bottom: 70px !important;
}